In [ ]:
import os
import pandas as pd
import numpy as np

#Data Visualization
import matplotlib.pyplot as plt
import plotly.express as px

In [ ]:
df = pd.read_excel('/content/drive/MyDrive/ColabNotebooks/GoalEarn/Prj-8/OnlineRetail.xlsx')

In [ ]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [ ]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [ ]:
df.shape

(541909, 8)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [ ]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 126.2 MB

In [ ]:
df.describe()

,Quantity,InvoiceDate,UnitPrice,CustomerID
count,541909.000000,541909,541909.000000,406829.000000
mean,9.552250,2011-07-04 13:34:57.156386048,4.611114,15287.690570
min,-80995.000000,2010-12-01 08:26:00,-11062.060000,12346.000000
25%,1.000000,2011-03-28 11:34:00,1.250000,13953.000000
50%,3.000000,2011-07-19 17:17:00,2.080000,15152.000000
75%,10.000000,2011-10-19 11:27:00,4.130000,16791.000000
max,80995.000000,2011-12-09 12:50:00,38970.000000,18287.000000
std,218.081158,NaN,96.759853,1713.600303

In [ ]:
df.columns.str.lower()

Index(['invoiceno', 'stockcode', 'description', 'quantity', 'invoicedate',
       'unitprice', 'customerid', 'country'],
      dtype='object')

In [ ]:
df.columns=['invoice_id', 'item_id', 'description', 'quantity', 'date',
       'unit_price', 'customer_id', 'country']

In [ ]:
df.columns

Index(['invoice_id', 'item_id', 'description', 'quantity', 'date',
       'unit_price', 'customer_id', 'country'],
      dtype='object')

In [ ]:
#Number of invoice_id
df.invoice_id.unique().shape

(25900,)

In [ ]:
df.invoice_id.unique()

array([536365, 536366, 536367, ..., 581585, 581586, 581587], dtype=object)

In [ ]:
df.date.min() , df.date.max()

(Timestamp('2010-12-01 08:26:00'), Timestamp('2011-12-09 12:50:00'))

In [ ]:
df.country.unique().shape

(38,)

In [ ]:
df.customer_id.unique().shape

(4373,)

In [ ]:
df.customer_id.isnull().sum()

np.int64(135080)

In [ ]:
df.isnull().sum()

invoice_id          0
item_id             0
description      1454
quantity            0
date                0
unit_price          0
customer_id    135080
country             0
dtype: int64

In [ ]:
df.isnull().sum().sum()

np.int64(136534)

In [ ]:
#Create Sales column
df['sales'] = df['quantity'] * df['unit_price']

In [ ]:
df.head()

,invoice_id,item_id,description,quantity,date,unit_price,customer_id,country,sales
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34

In [ ]:
df.sales.quantile([0,0.25,0.5,0.75,1])

0.00   -168469.60
0.25         3.40
0.50         9.75
0.75        17.40
1.00    168469.60
Name: sales, dtype: float64

In [ ]:
df.quantity.quantile([0,0.25,0.5,0.75,1])

0.00   -80995.0
0.25        1.0
0.50        3.0
0.75       10.0
1.00    80995.0
Name: quantity, dtype: float64

In [ ]:
df.quantity.max()

80995

In [ ]:
df.quantity.min()

-80995

In [ ]:
cals = list(df.columns)
df = df[cals[0:6]+[cals[-1]]+cals[6:8]]

In [ ]:
df.head()

,invoice_id,item_id,description,quantity,date,unit_price,sales,customer_id,country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,15.30,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,20.34,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,22.00,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,20.34,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,20.34,17850.0,United Kingdom

In [ ]:
df[df['customer_id'].isnull()]

,invoice_id,item_id,description,quantity,date,unit_price,sales,customer_id,country
622,536414,22139,NaN,56,2010-12-01 11:52:00,0.00,0.00,NaN,United Kingdom
1443,536544,21773,DECORATIVE ROSE BATHROOM BOTTLE,1,2010-12-01 14:32:00,2.51,2.51,NaN,United Kingdom
1444,536544,21774,DECORATIVE CATS BATHROOM BOTTLE,2,2010-12-01 14:32:00,2.51,5.02,NaN,United Kingdom
1445,536544,21786,POLKADOT RAIN HAT,4,2010-12-01 14:32:00,0.85,3.40,NaN,United Kingdom
1446,536544,21787,RAIN PONCHO RETROSPOT,2,2010-12-01 14:32:00,1.66,3.32,NaN,United Kingdom
...,...,...,...,...,...,...,...,...,...
541536,581498,85099B,JUMBO BAG RED RETROSPOT,5,2011-12-09 10:26:00,4.13,20.65,NaN,United Kingdom
541537,581498,85099C,JUMBO BAG BAROQUE BLACK WHITE,4,2011-12-09 10:26:00,4.13,16.52,NaN,United Kingdom
541538,581498,85150,LADIES & GENTLEMEN METAL SIGN,1,2011-12-09 10:26:00,4.96,4.96,NaN,United Kingdom
541539,581498,85174,S/4 CACTI CANDLES,1,2011-12-09 10:26:00,10.79,10.79,NaN,United Kingdom
541540,581498,DOT,DOTCOM POSTAGE,1,2011-12-09 10:26:00,1714.17,1714.17,NaN,United Kingdom

In [ ]:
df['customer_id'].isnull().sum()

np.int64(135080)

In [ ]:
#Delete rows that customer_id is NULL
df = df.dropna(subset=['customer_id'])

In [ ]:
df['customer_id'].isnull().sum()

np.int64(0)

### Invoice IDs that start with C

In [ ]:
#Invoice Ids that start with C
df[df['invoice_id'].str.startswith('C' , na=False)]

,invoice_id,item_id,description,quantity,date,unit_price,sales,customer_id,country
141,C536379,D,Discount,-1,2010-12-01 09:41:00,27.50,-27.50,14527.0,United Kingdom
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,2010-12-01 09:49:00,4.65,-4.65,15311.0,United Kingdom
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,2010-12-01 10:24:00,1.65,-19.80,17548.0,United Kingdom
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,2010-12-01 10:24:00,0.29,-6.96,17548.0,United Kingdom
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,2010-12-01 10:24:00,0.29,-6.96,17548.0,United Kingdom
...,...,...,...,...,...,...,...,...,...
540449,C581490,23144,ZINC T-LIGHT HOLDER STARS SMALL,-11,2011-12-09 09:57:00,0.83,-9.13,14397.0,United Kingdom
541541,C581499,M,Manual,-1,2011-12-09 10:28:00,224.69,-224.69,15498.0,United Kingdom
541715,C581568,21258,VICTORIAN SEWING BOX LARGE,-5,2011-12-09 11:57:00,10.95,-54.75,15311.0,United Kingdom
541716,C581569,84978,HANGING HEART JAR T-LIGHT HOLDER,-1,2011-12-09 11:58:00,1.25,-1.25,17315.0,United Kingdom
541717,C581569,20979,36 PENCILS TUBE RED RETROSPOT,-5,2011-12-09 11:58:00,1.25,-6.25,17315.0,United Kingdom

In [ ]:
df[df['invoice_id'].str.startswith('C' , na=False)].shape

(8905, 9)

In [ ]:
#Delete rows that Invoice Id start with C
df = df[~df['invoice_id'].str.startswith('C' , na=False)]

In [ ]:
df.shape

(397924, 9)

## Delete unit_price<0 & quantity<0

In [ ]:
df[df['unit_price']<0].shape

(0, 9)

In [ ]:
df[df['quantity']<0].shape

(0, 9)

In [ ]:
df[df['sales'] < 0 ]

Empty DataFrame
Columns: [invoice_id, item_id, description, quantity, date, unit_price, sales, customer_id, country]
Index: []

In [ ]:
df.shape

(397924, 9)

## ** The 99th percentile represents the top 1% of the data, which are usually outliers.**

In [ ]:
df['unit_price'].max() , df['unit_price'].min()

(8142.75, 0.0)

In [ ]:
df['quantity'].max() , df['quantity'].min()

(80995, 1)

In [ ]:
quantity_99 = df['quantity'].quantile(0.99)
quantity_99

np.float64(120.0)

In [ ]:
unit_price_99=df['unit_price'].quantile(0.99)
unit_price_99

np.float64(14.95)

In [ ]:
 df[(df['unit_price'] <= unit_price_99) ].shape

(394190, 9)

In [ ]:
 df[(df['unit_price'] > unit_price_99) ].shape

(3734, 9)

In [ ]:
df = df[df['unit_price'] <= unit_price_99]

In [ ]:
df[df['quantity'] <= quantity_99].shape

(390294, 9)

In [ ]:
df[df['quantity'] > quantity_99].shape

(3896, 9)

In [ ]:
df = df[df['quantity'] <= quantity_99 ]

In [ ]:
df.shape

(390294, 9)

In [ ]:
df.head()

,invoice_id,item_id,description,quantity,date,unit_price,sales,customer_id,country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,15.30,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,20.34,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,22.00,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,20.34,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,20.34,17850.0,United Kingdom

In [84]:
df.to_csv('/content/drive/MyDrive/ColabNotebooks/GoalEarn/Prj-8/GitHub/online_retail_cleaningdata.csv')

In [85]:
df.to_excel('/content/drive/MyDrive/ColabNotebooks/GoalEarn/Prj-8/GitHub/online_retail_cleaningdata.xlsx')

In [ ]:
cus_sum=df.groupby(['customer_id'])['sales'].sum()
cus_sum

customer_id
12347.0    4060.40
12348.0    1186.68
12349.0    1353.80
12350.0     294.40
12352.0    1385.74
            ...
18280.0     180.60
18281.0      46.92
18282.0     178.05
18283.0    2078.93
18287.0    1837.28
Name: sales, Length: 4290, dtype: float64

In [ ]:
df.country.value_counts()

country
United Kingdom          349387
Germany                   8576
France                    7966
EIRE                      6885
Spain                     2375
Belgium                   1901
Netherlands               1828
Switzerland               1798
Portugal                  1423
Norway                    1033
Australia                  969
Channel Islands            728
Italy                      724
Finland                    638
Cyprus                     592
Austria                    373
Denmark                    361
Sweden                     323
Poland                     321
Japan                      296
Israel                     244
Unspecified                241
Singapore                  212
Iceland                    181
USA                        178
Canada                     148
Greece                     141
Malta                      108
United Arab Emirates        67
RSA                         58
European Community          57
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              24
Bahrain                     17
Saudi Arabia                 9
Name: count, dtype: int64

In [ ]:
df.customer_id.value_counts()

customer_id
17841.0    7813
14911.0    5485
14096.0    4902
12748.0    4546
14606.0    2680
           ...
17925.0       1
13703.0       1
12814.0       1
14887.0       1
13747.0       1
Name: count, Length: 4290, dtype: int64

In [ ]:
df.dtypes

invoice_id             object
item_id                object
description            object
quantity                int64
date           datetime64[ns]
unit_price            float64
sales                 float64
customer_id           float64
country                object
dtype: object